
:root {
  --heading-text: #db00ff;
  --section-title-color: #ff0070;
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --subtitle-color: #000028;
  --border-color: #ff0070;
  --border-bottom: #f1b2ce;
  --bg-image: url(../images/cover-image-dark.png);
  --transition-duration: 0.3s;
}

.decor {
  display: none;
}